@import '../common/configskin/_skin.less';
@import '../common/configskin/_font.less';

/* --- Footer --- */
.footer-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(5.2% + 17.2rem) 58px;
    background-color: @color-333;
    .footer__header {
        width: 100%;
        padding-top: 62px;
        position: relative;
        margin-bottom: 73px;
        .flexDisplay;
        .justifyContent (space-between);
        z-index: 1;
        .footer__logo{
            width: 20%;
            img:hover {
                cursor: pointer;
            }
        }
        .footer__menu {
            width: 60%;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 24px;
            font-family: FiraSansBold;
            .navbar-nav {
                list-style: none;
                .flexDisplay;
                .justifyContent (space-between);
                .flexDirection (row);
                .justifyContent (center);
                .transForm (translate(0, 42px));
                margin: 0 auto;
                .nav-item {
                    text-transform: uppercase;
                    .nav-link {
                        color: @color-aba;
                        padding: 18px;
                        
                        &:hover {
                            color: @color-d6ba8b;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .footer__subcribe {
            .transForm (translate(4.9rem,2.6rem));
            width: 20%;
            text-align: right;
            .flexDisplay;
            .alignItems (center);
            a {
                display: inline-block;
                font-size: 14px;
                letter-spacing: 2px;
                line-height: 24px;
                font-weight: 700;
                font-family: FiraSans;
                text-transform: uppercase;
                background-color: @color-333;
                color: @color-aba;
                border: 2px solid @color-696;
                padding: 6px 8px 6px 17px;
                text-decoration: none;
                &:hover {
                    color: @color-d6ba8b;
                }
                i {
                    margin: 0 8px;
                    letter-spacing: 3px;
                    color: @color-d6ba8b;
                }
            }
        }
    }
    .footer__contact {
        margin: 0;
        border-top: 1px solid @color-2b2;
        padding-top: 30px;
        .footer__info {
            margin-top: 10px;
            padding: 0;
            .footer__note {
                font-size: 14px;
                line-height: 28px;
                color: @color-696;
                font-weight: 400;
                font-family: FiraSans;
            }
            a {
                text-decoration: none;
                &:hover {
                    color: @color-d6ba8b;
                }
                span {
                    padding-left: 6px;
                }
            }
        }

        .footer__social {
            text-align: right;
            padding: 0;
            ul {
                list-style: none;
                li {
                    display: inline-block;
                }
            }
            a {
                border: 2px solid @color-696;
                width: 48px;
                height: 48px;
                display: block;
                text-align: center;
                border-radius: 50%;
                font-size: 18px;
                padding-top: 9px;
                color: @color-aba;
                margin: 0 2px;
                &:hover {
                    border-color: @color-d6ba8b;
                    color: @color-333;
                    background-color: @color-d6ba8b;
                }
            }
        }
    }
}

@media (max-width: 1599px) {
    .footer-container {
        padding: 0 5.2% 58px;
        .footer__header {
            .footer__logo{
                width: 30%;
                text-align: center;
            }
            .footer__menu {
                width: 70%;
            }
            .footer__subcribe {
                display: none;
            }
        }
    }
}
@media (max-width: 1199px) {
    .footer-container {
        padding: 0 0 58px;
        margin-top: 35px;
        .footer__contact {
            padding: 30px 15px 0;
        }
    }
}

@media (max-width: 991px) {
    .footer-container {
        .footer__header {
            .justifyContent (center);
            .alignItems (center);
            .flexDirection (column);
        }
    }
}

@media (max-width: 767px) {
    .footer-container {
        .footer__header {
            .justifyContent (center);
            .flexDirection (column);
            .footer__menu {
                display: none;
            }
            .footer__contact {
                .flexDisplay;
                .justifyContent (center);
                .alignItems (center);
                .flexDirection (column);
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .footer-container {
        .footer__header {
            .footer__menu {
                font-size: 13px;
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            padding: 12px;
                        }
                    }
                }
            }
        }
        .footer__contact {
            .footer__info {
                .footer__note {
                    font-size: 14px;
                }
            }
            .footer__social {
                a {
                    width: 45px;
                    height: 45px;
                    font-size: 17px;
                    padding-top: 8.5px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-container {
        .footer__header {
            .footer__menu {
                .navbar-collapse {
                    .navbar-nav {
                        .transForm (translate(0,0));
                    }
                }
            }
        }
        .footer__contact {
            .footer__info {
                .footer__note {
                    font-size: 14px;
                }
            }
            .footer__social {
                a {
                    width: 40px;
                    height: 40px;
                    font-size: 15px;
                    margin: -6px 0 0 5px;
                    padding-top: 7.5px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .footer-container {
        .footer__contact {
            .flexDisplay;
            .justifyContent (center);
            .alignItems (center);
            .flexDirection (column);
            .footer__info {
                order: 2;
            }

            .footer__social {
                order: 1;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .footer-container {
        padding-bottom: 30px;
        .footer__header {
            margin-top: 60px;
            margin-bottom: 60px;
            .footer__logo {
                text-align: center;
                img {
                    width: 70%;
                }
            }
        }
        .footer__header {
            padding-top: 21px;
            .footer__info {
                margin-top: 0;
                text-align: center;

                .footer__note {
                    font-size: 13px;
                    line-height: 24px;
                }
            }
            .footer__social {
                text-align: center;

                a {
                    width: 32px;
                    height: 32px;
                    font-size: 12px;
                    padding-top: 6px;
                    margin: 0;
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .footer-container {
        padding: 0 10px;
    }
    .footer-container {
        padding-bottom: 50px;
        .footer__header {
            margin-top: 30px;
            margin-bottom: 40px;
            .flexWrap (wrap);
            .footer__logo {
                width: 100%;
                .flexDisplay;
                .justifyContent (center);
                .alignItems (center);
                a {
                    text-align: center;
                    img {
                        width: 60%;
                    }
                }
            }
        }
        .footer__contact {
            padding-top: 15px;
            
            .footer__info {
                text-align: center;
                margin-top: 0;
                .footer__note {
                    font-size: 13px;
                    line-height: 22px;
                }
            }
            .footer__social {
                text-align: center;
                a {
                    border: 1px solid @color-696;
                    width: 27px;
                    height: 27px;
                    font-size: 11px;
                    margin: 0;
                    padding-top: 5px;
                }
            }
        }
    }
}